/* 
    JUMBOTRON
*/
.jumbotron-top{
    height: 800px;
    margin-top: 100px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    color: white;
}

.logo-game-jumbo img{
    width: 70%;
}
/* ------ */

.jumbotron-mid{
    /* height: 800px; */
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.jumbotron-mid .logo-game-jumbo img{
    width: 85%;
}

.jumbotron-top .btn_buy_info,
    .jumbotron-mid .btn_buy_info{
        width: fit-content;
        background-color: #cd3d0f;
        border: 2px solid #cd3d0f;
        border-radius: 30px;
        padding: 8px 4px;
}

.jumbotron-top .btn_buy_info a,
    .jumbotron-mid .btn_buy_info a{
    padding: 6px;
    text-align: center;
    background-color: #cd3d0f;
    border-radius: 30px;
}

.btn_buy_info:hover{
    background-color: rgba(0, 0, 0, 0);
}

/* --/JUMBOTRON------------------------------------------------- */




/* 
    HEADER
*/
header {
    position: fixed;
    top: 0;
    width: 100%;
}

header .menu{
    height: 60px;
}

header .sony-logo{
    position: relative;
    height: 40px;
    text-align: end;
    background-color: black;
}

header .sony-logo img{
    position: absolute;
    vertical-align: middle;
    right: -35px;
    top: 5px
}
/* --/HEADER----------------------------------------------------- */




/* 
    CARDS UNDER JUMBOTRON-TOP
*/
.img-link-to-games .thumbnail-game{
    display: flex;
    justify-content: center;
}

.img-link-to-games .thumbnail-game img{
    margin: 10px 0;
    border-radius: 20px;
    width: 97.5%;
    padding: 3px;
    border: 3px solid rgba(0, 0, 0, 0);
}

.img-link-to-games .thumbnail-game img:hover{
    border-color: #006bcc;
}
/* ---/CARDS UNDER JUMBOTRON-TOP--------------------------------- */


/* 
    PLAYSTATION 5
*/

#playstation5 .title p:first-child{
    color: #137cd2;
    margin-bottom: 0px;
}
#playstation5 .title p:last-child,
    #playstation5 .text-info-PS5 p:last-child,
        .text-info-PS5 p{
    color: #727272;
}

.text-info-PS5 .btn_buy_info{
    width: fit-content;
    color: white;
    background-color: #137cd2;
    border: 2px solid #137cd2;
    border-radius: 30px;
    padding: 8px 4px;
}

.text-info-PS5 .btn_buy_info a{
    padding: 6px;
    text-align: center;
    background-color: #137cd2;
    border-radius: 30px;
}

#playstation5 .btn_buy_info:hover{
    background-color: rgba(0, 0, 0, 0);
}

.ps5-full-img img{
    width: 100%;
}

.ps5-products {
    text-align: center;
}

.img-products{
    opacity: .65;
    cursor: pointer;
}

.img-products.active:active{
    opacity: 1;
    border-bottom: 3px solid #137cd2;
}

.ps5-products img{
    width: 75%;
}
/* ---/PLAYSTATION 5--------------------------------- */




/* 
    NEW GAMESOUT
*/
.new-games{
    color: white;
    background-color: #1f1f1f;
}

.new-games-card{
    text-align: center;
}

.new-games-card p{
    text-align: left;
}

.new-games-card img{
    width: 90%;
    border-radius: 15PX;
}

/* ---/NEW GAMES OUT--------------------------------- */


/* 
    PLAYSTATION 4
*/
#playstation4 p{
    color: #727272;
}

.ps4-products{
    text-align: center;
}

.ps4-products h2,
    .ps4-products p,
        .btn_buy_info{
            text-align: left;
}

.ps4-product img{
    width: 100%;
    padding: auto 30px;
}

.ps4-product .btn_buy_info{
    width: fit-content;
    color: white;
    background-color: #137cd2;
    border: 2px solid #137cd2;
    border-radius: 30px;
    padding: 8px 4px;
}

.ps4-product .btn_buy_info a{
    padding: 6px;
    text-align: center;
    background-color: #137cd2;
    border-radius: 30px;
}

.ps4-product .btn_buy_info:hover{
    background-color: rgba(0, 0, 0, 0);
}
/* ---/PLAYSTATION 4--------------------------------- */


/* 
    PLAYSTATION PLUS
*/
#playstation-plus{
    background-color: #bebcbb;
}

#playstation-plus .logo-ps-plus-sx img{
    width: 75%;
}

#playstation-plus .img-ps-plus-dx img{
    width: 100%;
}

#playstation-plus .btn_buy_info{
    width: fit-content;
    color: #137cd2;
    background-color: #ffffffa1;
    border: 2px solid #ffffffa1;
    border-radius: 30px;
    padding: 8px 4px;
}

#playstation-plus .btn_buy_info a{
    padding: 6px;
    text-align: center;
    background-color: 137cd2;
    border-radius: 30px;
}

#playstation-plus .btn_buy_info:hover{
    background-color: #ffffffd2;
    border: 2px solid #ffffffd2;

}
/* ---/PLAYSTATION PLUS-------------------------------- */



/* 
    PLAYSTATION NOW
*/
#playstation-now{
    background-color: #161c3b;
    color: white;
}

#playstation-now .logo-ps-now-sx img{
    width: 75%;
}

#playstation-now .img-ps-now-dx img{
    width: 100%;
}

#playstation-now .btn_buy_info{
    width: fit-content;
    color: black;
    background-color: white;
    border: 2px solid white;
    border-radius: 30px;
    padding: 8px 4px;
}

#playstation-now .btn_buy_info a{
    padding: 6px;
    text-align: center;
    background-color: white;
    border-radius: 30px;
}

#playstation-now .btn_buy_info:hover{
    background-color: rgba(0, 0, 0, 0);
}
/* ---/PLAYSTATION NOW-------------------------------- */


/* 
    PS-STORE-SALES
*/
#sales-ps-store .img-ps-sale img{
    width: 100%;
    margin: 15px auto;
}
/* ---/PS-STORE-SALES--------------------------------- */



/* 
    SOCIAL MEDIA
*/
#social-media .img-social-media img{
    width: 100%;
    margin: 15px auto;
}
/* ---/SOCIAL MEDIA----------------------------------- */


/* 
    FOOTER
*/
footer{
    background-color: #00439c;
    color: white;
}

footer a{
    color: white;
}

footer a:hover{
    text-decoration: underline;
}

footer .top-foot img{
    filter: grayscale(1) brightness(9000%);
    height: 150px;
}

footer .bottom-foot a{
    text-decoration: underline;
}

footer .bottom-foot img{
    height: 50%;
}

.top-logo-footer img{
    height: 10px;
}


/* ---/FOOTER----------------------------------------- */